# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
/.turbo

# expo / react native
/apps/mobile/.expo
/apps/mobile/.expo-shared
/apps/mobile/.turbo
/apps/mobile/dist
/apps/mobile/web-build
/apps/mobile/node_modules
/apps/mobile/ios
/apps/mobile/android
/packages/*/.turbo

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files
.env*.local
.env.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
