@import "tailwindcss";
@config "../tailwind.config.ts";

@source inline(
  "{bg,text,border,ring,stroke,fill}-{slate,gray,zinc,neutral,stone,red,orange,amber,yellow,lime,green,emerald,teal,cyan,sky,blue,indigo,violet,purple,fuchsia,pink,rose}-{50,100,200,300,400,500,600,700,800,900,950}"
);
@source inline(
  "hover:{bg,text,border}-{slate,gray,zinc,neutral,stone,red,orange,amber,yellow,lime,green,emerald,teal,cyan,sky,blue,indigo,violet,purple,fuchsia,pink,rose}-{50,100,200,300,400,500,600,700,800,900,950}"
);

:root {
  color-scheme: dark;
}

body {
  color: white;
  background: #111111;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 2px;
  border: 1px solid #27272a;
  background-color: #3f3f46;
}

html {
  height: 100%;
  overflow: hidden;
  position: relative;
}

body {
  height: 100%;
  overflow: auto;
  position: relative;
}

.text-xxs {
  font-size: 0.63rem; /* Example of a smaller font size than text-xs */
}

.break-words-all {
  word-break: break-all;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

body.sf-active [data-main-nav] {
  display: none !important;
}
