@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 33, 33, 33;
  --background-start-rgb: 232, 232, 232;
  --background-end-rgb: 232, 232, 232;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 232, 232, 232;
    --background-start-rgb: 33, 33, 33;
    --background-end-rgb: 33, 33, 33;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 2px;
  border: 1px solid;
  background-color: #686868;
}

html {
    height  : 100%;
    overflow: hidden;
    position: relative;
}

body {
    height  : 100%;
    overflow: auto;
    position: relative;
}
